logs/*

# notebooks checkpoints
*checkpoint.ipynb

# NIfTI images
*.nii
*.nii.gz
*.img
*.hdr

# Latex compiled files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.log
*.gz
*.toc
*.spl

*.fls

# For now ignore csv files
*.csv

.Rapp*

# R
*.Rdata
*.Rhistory

# File to be deleted or ignored
OLD*
unused*

# m files backups
*.m~

# matlab data files
# *.mat (we need these for fsl design matrix files...)

# neuroimaging images
*.nii
*.img
*.hdr

# data
# Ignore all directories called data
data/
fsl_design/*.ppm
fsl_design/*.fsf

# R autosaved files
*(Autosaved).R

*.DS_Store

# For now do not store figures in pdf format (only png)
Paper/figures/*.pdf

*.pyc

# Backup data folder
data_safe/**
