# Latex compiled files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.log
*.gz
*.toc


.Rapp*

# R
*.Rdata
*.Rhistory

# File to be deleted or ignored
OLD*
unused*

# m files backups
*.m~

# matlab data files
*.mat

# neuroimaging images
*.nii
*.img
*.hdr

# data
data/*