# Latex compiled files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.log
*.gz
*.toc

# For now ignore csv files
*.csv

.Rapp*

# R
*.Rdata
*.Rhistory

# File to be deleted or ignored
OLD*
unused*

# m files backups
*.m~

# matlab data files
# *.mat (we need these for fsl design matrix files...)

# neuroimaging images
*.nii
*.img
*.hdr

# data
data/*
fsl_design/*.ppm
fsl_design/*.fsf
Scripts/NIDM-Results_paper/pain_meta_analysis/data/*

# R autosaved files
*(Autosaved).R